VITE_API_URL=http://aethereum.test/api
VITE_WS_URL=ws://localhost:8080
VITE_SUPABASE_URL=https://kbjxsfgumnddpkbkrswc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtianhzZmd1bW5kZHBrYmtyc3djIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0OTI1MTAsImV4cCI6MjA4NzA2ODUxMH0.6WLsBVRIimEx01569CVuKzEGM4KjoPtQyBEUJJNZmew